<h1>Coaching#answer</h1>
<p>coach answer</p>

<%= @answer%>

<!-- <form action="/answer" methode="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="the_answer" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form> -->
